@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.navbar.scrolled {
  background: rgb(222, 192, 222);
  transition: background 500ms;
}
.flex {
  display: flex;
  align-items: center;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10px;
}
html,
body {
  position: relative;
  height: 100%;
}

/* header.sticky .back-to-home a{
  display: none;
}
header.sticky #main-menu a{
  display: none;
}
header.sticky {
  background: #fff;
  opacity: 2;
  padding: 15px 0px;
  border-bottom: 2px solid #C0C0C0;
}
header.sticky #main-menu .menu-search{
  color: #000;
}
header.sticky .navbar__bottom-menu .btn-menu{
  color: #000;
}
header.sticky .nav__links a{
  color: #000;
} */
.inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
}
ul#main-menu {
  display: flex;
  font-family: EB Garamond;
  /* gap: 0.9em; */
}
#main-menu li {
  gap: 10px;
}
ul#main-menu a {
  font-weight: 600;
  line-height: 20.88px;
  font-family: EB Garamond;
  /* padding: 0px 0px; */
  display: block;
}
.pl-2 {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  font-family: EB Garamond;
}
.back-to-home a {
  align-items: center;
  display: flex;
  justify-content: center;
}

.back-to-home a span {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  font-family: EB Garamond;
  text-align: center;
  margin-left: 5px;
}

/*nav2*/
.navbar__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  gap: 20px;
  list-style: none;
}

.nav__links a {
  color: white;
  text-decoration: none;
  gap: 20px;
}

.content-bookNow {
  background-color: rgba(232, 149, 47, 1);
  border: 1px;
  width: 123px;
  height: 46px;
  color: #fff;
  margin: auto;
  text-decoration: none;
}
.navbar__bottom-menu {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__bottom-right {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.content-bookNow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__links li {
  margin-left: 30px;
}
.nav__links li a {
  font-family: "EB Garamond";
  font-size: 17px;
  font-weight: 600;
  text-align: center;
}
/*homepage*/
.homepage {
  width: 100vw;
  height: 1077px;
  background-image: url(images/logo-img.png);
  background-size: cover;
  background-position: center;
}
.homepage-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 291px;
}
.img-frame {
  max-width: 100%;
  height: auto;
}
.header-screolll {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Google Sans", Sans-serif;
  color: #fff;
  padding-top: 19px;
  letter-spacing: 0.5px;
}
.frame-scroll {
  font-size: 12px;
  font-weight: 400;
  font-family: ;
}

.homepage .container {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 460px;
  flex-direction: column;
}
.header-content {
  width: 665px;
  height: 209px;
}

.header-title {
  font-family: "Google Sans", Sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  display: block;
  line-height: 63.57px;
  padding-bottom: 20px;
}

.header-description {
  font-family: "Google Sans", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 24px;
  display: block;
  padding-bottom: 38px;
}
.header-button {
  width: 136px;
  height: 44px;
  padding: 12px 23px 17px 14px;
  font-size: 14px;
  color: #fff;
  line-height: 17.8px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 258px;
}
.header-bookNow {
  width: 136px;
  height: 44px;
  padding: 12px 23px 17px 14px;
  font-size: 14px;
  color: #fff;
  line-height: 17.8px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  text-align: center;
}
.btn-bookNow {
  color: #fff;
}
/* 
.homepage a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
} */

.text a {
  color: #fff;
  text-decoration: none;
}

/* new  container*/
.new {
  padding-top: 8.3rem;
}
.section-new {
  justify-content: space-between;
}

.services-select-title {
  font-size: 34px;
  font-weight: 500;
  line-height: 43.23px;
  font-family: "Google Sans", Sans-serif;
  text-align: center;
  padding: 54px 0;
  padding-left: 20px;
}
.new-left {
}
.about-user {
  padding-bottom: 16px;
}
.card-about-newTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.34px;
  font-family: "Google Sans", Sans-serif;
}
.new-left h1 {
  font-size: 34px;
  line-height: 43.23px;
  font-family: "Google Sans", sans-serif;
  font-weight: 500;
}

.services-select_golf {
  font-size: 34px;
  font-weight: 500;
  line-height: 43.23px;
  font-family: "Google Sans Media", Sans-serif;
  color: rgba(0, 175, 67, 1);
}

.row {
  display: flex;
  flex-direction: row;
}
.content {
  padding: 48px 0px 0px 60px;
}
.content-designed {
  font-family: "Google Sans", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 33.06px;
}
.content-chiTiet {
  width: 554px;
  height: 169px;
  padding: 11px 0px 0px 0px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Google Sans", sans-serif;
  display: block;
  line-height: 22px;
}

.image .image__logo {
  position: relative;
  width: 100%;
}
.image .image__logo .path {
  position: absolute;
  bottom: -10px;
  right: -30px;
}
/* .services-select .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
} */
/* .services-select .row .content p {
  font-size: 14px;
  padding: 1rem 0;
  line-height: 1.8;
} */

.info-container {
  display: flex;
}
.info-grid {
  display: flex;
  gap: 20px;
  text-align: center;
  padding: 0px 50px;
}
.info-container .number {
  font-weight: 500;
  font-size: 40px;
  line-height: 50.86px;
  font-family: "Google Sans", Sans-serif;
}
.info-container .label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20.34px;
  font-family: "Google Sans", Sans-serif;
  align-items: center;
}
.bandoImg {
  position: relative;
  top: -3rem;
  left: -2rem;
}
.img-bando {
}

/* =====> protfolio*/
.protfolio__mobile {
  text-align: center;
  background-color: #fbf8f1;
  padding-bottom: 52px;
}
.protfolio__mobile-header {
  padding-top: 32px;
}
.section__title {
  text-align: center;
}
.section__title-explore {
  font-weight: 500;
  font-size: 34px;
  line-height: 43.23px;
  font-family: "Google Sans", Sans-serif;
  padding-right: 10px;
}
.section-title-get {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: "Google Sans", Sans-serif;
  text-align: center;
  padding: 12px 0px;
}

.cards {
  width: 100%;
  margin-top: 30px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 52px;
}
.cards-new {
  width: 100%;
  margin-top: 20px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards .card-about {
  list-style: none;
}
/* .cards-top .card-about {
  margin-right: 10px;
} */
/* Individual card styling */
.card-about {
  position: relative;
  border-radius: 10px;
}
.btn {
  list-style: none;
  text-decoration: none;
}

.card-about h3,
.card-about .btn,
.card-about .box-imgRight {
  position: absolute;
  color: white;
  /* Adjust text color to ensure readability over the image */
}

.card-about h3 {
  bottom: 50px;
  left: 20px;
  margin: 0;
  font-size: 24px;
}

.card-about .btn {
  bottom: 25px;
  left: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  font-family: "Google Sans", Sans-serif;
}

.card-about .box-imgRight {
  margin: 10px;
  bottom: 32px;
  right: 20px;
  width: 24px;
  /* Adjust the size of the icon as needed */
}

/* modifiler*/
.modifiler {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 70px;
}

.header-barsic {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modifuler_Img-top {
  display: flex;
  align-items: center;
}

.modifuler_Img-center {
  flex: 1;
  flex-direction: column;
}
.modifuler-img-top {
  flex: 1;
}
.modifuler-img-bottom {
  position: relative;
}
.midifuler-title {
  position: absolute;
}
/*Map*/
.about {
  /* width: calc(100% / 5); */
  text-align: center;
  padding: 0 35px;
}
.about-title {
  font-size: 34px;
  font-weight: 500;
  line-height: 43.23px;
  font-family: "Google Sans", Sans-serif;
  padding-bottom: 12px;
  padding-top: 10px;
}

.about-ready {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  font-family: "Google Sans", Sans-serif;
  padding-bottom: 52px;
}
.cards-about_db {
  width: 149px;
  height: 61px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22.89px;
  text-align: center;
  font-family: "Google Sans", Sans-serif;
  padding: 20px 0px;
}
/* .cards__About {
  width: 100%;
  margin-top: 30px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap-reverse;
} */
.cards .cards-about {
  /* text-align: center; */
  list-style: none;
  flex: 0 0 auto;
}
.cards-about {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cards-map {
  /* width: calc(100% / 5); */
  /* width: auto; */
  /* max-width: 100%; */
  /* text-align: center; */
  /* margin: 6px 0; */
  display: flex;
  justify-content: center !important;
  /* align-items: center; */
  /* gap: 71px; */
  column-gap: 3rem;
  margin-left: 0;
  margin-right: 0;
}

/*contact*/
.contact {
  padding-top: 140px;
}
.contact__container {
  position: relative;
  height: 100%;
}
/* .container-header {
  position: relative;
  padding-bottom: 125px;
} */
.elem-logo-thsn {
  position: absolute;
}

.elem-text {
  position: absolute;
  bottom: 15rem;
  left: 16rem;
}

.contact_elem-text3 {
  position: absolute;
  width: 50%;
  margin-top: 20px;
  justify-content: start;
  flex-direction: row;
  margin-right: 200px;
}
/* .contact_elem-text3 .text {
  color: #fff;
} */

.elem-text-Fea {
  font-family: "Google Sans", Sans-serif;
  font-size: 34px;
  font-weight: 500px;
  line-height: 43.23px;
  color: #fff;
}

.elem_text-get {
  font-family: "Google Sans", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 22px;
}
.header-bookNow {
  position: absolute;
  bottom: -4.5rem;
}

/*swiper*/

.contact-text3-bottom {
  /* position: absolute; */
}
.swiper {
  /* width: 100%;
  height: 100%; */
  bottom: -5rem;
  left: 40rem;
}
.swiper-slide {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 378px !important;
  margin-right: 10px;
}

.swiper-slide img {
  display: block;
  width: 378px;
  height: 518px;
  object-fit: cover;
}
*/

/* .swiper {
  width: 100%;
  margin: 20px auto;
}

.card {
  width: 320px;
  background-color: #fff;
}
.card-image {
  position: relative;
}
.image-contet {
  position: absolute;
  row-gap: 5px;
  padding: 25px 0;
}
.slide-container {
  position: relative;
  padding: 40px 0;
  margin: 0 40px;
}
.card-image .card-img {
  object-fit: cover;
} */

/* blogs*/
.blogs {
  max-width: 1700px;
  width: 100%;
  background-color: #f8f8f8;
  padding-top: 120px;
}

.blogs img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.blogs {
  width: 100%;
  background-color: #f8f8f8;
}

.blogs img {
  max-width: 1700px;
  height: auto;
  display: block;
  margin: 0 auto;
}
/*footer*/
#contact1 {
  background: rgba(21, 27, 64, 1);
  height: 518px;
}
.footer-main {
  display: flex;
  flex-wrap: wrap;
}
.footer {
  padding: 20px 0;
}
.list {
  width: 25%;
}
.list-img-logo {
  padding: 40px 10px 0px;
}
.list-honTre {
  font-weight: 400;
  font-family: "Google Sans", Sans-serif;
  line-height: 19.6px;
  padding: 30px 0px 0px;
}
.list-email {
  font-weight: 400;
  font-family: "Google Sans", Sans-serif;
  line-height: 19.6px;
}
.list-phone {
  font-weight: 400;
  font-family: "Google Sans", Sans-serif;
  line-height: 19.6px;
}
.list-bot {
  font-weight: 400;
  font-family: "Google Sans", Sans-serif;
  line-height: 19.6px;
}
.list h4 {
  top: 1.4em;
  color: white;
  font-size: 12px;
  position: relative;
  font-weight: 500;
  font-family: "Google Sans", sans-serif;
}
.list-dk {
  top: 1.4em;
  color: white;
  font-size: 12px;
  position: relative;
  font-weight: 500;
  font-family: "Google Sans", sans-serif;
}
.list-cty {
  padding-top: 1.5em;
  fonts-size: 12px;
  font-family: "Google Sans", sans-serif;
  font-weight: 400;
  line-height: 16.8px;
  color: #fff;
  margin-bottom: 38px 0px 0px;
}
.list-lanDau {
  top: 1.7em;
  color: white;
  font-size: 12px;
  position: relative;
  font-weight: 400;
  line-height: 16.8px;
  font-family: "Google Sans", sans-serif;
}
.list-noiCap {
  top: 1.7em;
  color: white;
  font-size: 12px;
  position: relative;
  line-height: 16.8px;
  font-weight: 400;
  font-family: "Google Sans", sans-serif;
}
.list-thongBao-img {
  padding-top: 40px;
}
.list-top {
  padding: 45px 60px;
}
.list-top-item {
  font-family: "Google Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: #fff;
  padding-top: 0.5em;
}
.list-top-item a {
  color: #fff;
}
.list-top-title {
  font-family: "Google Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  text-align: left;
  color: white;
}
.list-dacBiet {
  padding-top: 1.7em;
  color: white;
  font-size: 18px;
  line-height: 16.8px;
  font-weight: 400;
  font-family: "Google Sans", sans-serif;
}
.list-ul-noiBat {
}
.list-item {
  font-family: "Google Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: #fff;
  padding: 7px 0px;
}
.list-item a {
  color: #fff;
}
.list-right {
  position: relative;
  height: 100%;
  padding: 35px 50px;
}
.list-bottom {
  /* padding: 45px 0px; */
}
.list-right-title {
  color: white;
  font-size: 18px;
  line-height: 16.8px;
  font-weight: 400;
  font-family: "Google Sans", sans-serif;
  padding: 10px 0px;
}
.list-right-ul {
  top: 2rem;
  padding: 5px 0px;
}
.list-item-right {
  font-family: "Google Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25.2px;
  color: white;
  padding: 2px 0px;
}
.list-right-tag {
  color: white;
  font-size: 18px;
  line-height: 16.8px;
  font-weight: 400;
  font-family: "Google Sans", sans-serif;
  padding: 25px 0px 0px;
}
.list-right-end {
  padding: 0px 0px;
}
.list-item-right a {
  color: #fff;
}
.list__img .list-right-ul {
  padding: 12px 0px;
}
.list-right-tag {
  /* padding: 25px 0px; */
}
.list-namBo {
  font-family: "Google Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  color: white;
  padding: 14px 0px 0px;
}
.list-bt-camNang {
  padding-top: 10px;
  position: absolute;
}
.list-seo {
  padding: 10px 0px 0px;
  font-family: "Google Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}
.list-seo a {
  color: white;
}
.list-namBo a {
  color: #fff;
}
.list-bottom {
  padding: 45px 5px;
}
.list-tuLieu {
  color: white;
  font-size: 18px;
  line-height: 16.8px;
  font-weight: 400;
  font-family: "Google Sans", sans-serif;
}
.img-qr {
  padding: 172px 0px 0px 0px;
}
.list-bt-end {
  padding: 15px 0px;
}
/* .list h4::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  left: 0;
  bottom: -10px;
} */
.list ul li:not(:last-child) {
  margin-bottom: 10px;
}
.list ul li a {
  color: white;
  font-size: 14px;
  margin-left: 10px;
}
.list p {
  color: white;
  font-size: 12px;
}
.list__img-qr {
  background: white;
  border-radius: 5px;
  padding: 10px;
}

.footer-end {
  background: rgba(10, 15, 43, 1);
  justify-content: space-between;
}
.footer-end-elem {
  display: flex;
  justify-content: space-between;
}
.end-bottom {
  display: flex;
  /* padding: 3px 10px; */
  /* row-gap: 2px; */
}
.end-bottom .end-bottom-img img {
  width: 100%;
}
.footer-end h1 {
  color: white;
  display: flex;
}
.footer-end ul li {
  color: white;
}

.end-h1 h1 {
  font-size: 16px;
  font-weight: 400;
}
.end-h1 {
  align-items: center;
}
.footer-end-elem {
  align-items: center;
}
.end-bottom li {
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .navbar__bottom .nav__links-logoImg {
    display: block;
  }
  .navbar__bottom .navbar__bottom-center .nav__links .nav__links-logoImg {
    display: block;
  }

  .navbar__bottom .navbar__bottom-menu .menu-search {
    display: block;
  }

  .navbar,
  .nav__links li a {
    display: none;
  }

  .navbar__bottom {
    padding: 20px;
  }

  .homepage .text h1 {
    font-size: 24px;
    font-weight: 400px;
  }

  .homepage .text p {
    font-size: 12px;
    font-weight: 400;
    flex-direction: row;
  }

  .homepage a {
    display: none;
  }

  /*nav*/
  .header__header-left .header_left-shear {
    display: block;
  }

  .header__header-center a {
    display: none;
  }

  .nav__links .nav__links-logoImg {
    display: block;
  }

  /* .nav__links li a img .nav__links-logoImg {
    height:72px;
  } */

  .bandoImg {
    width: 100%;
  }

  /*service*/

  .image__logo-list1 {
    width: 100%;
    padding: 54px 0;
  }
  .image .path .image__logo-path {
    width: 100%;
  }
  .row {
    flex-direction: column-reverse;
  }

  .row-item {
    padding: 50px 0px 0px 59px;
  }
  .info-grid .number {
    font-size: 40px;
    font-weight: 500;
    line-height: 50.86px;
  }
  .info-grid .label {
    font-size: 14px;
    font-weight: 400;
  }
  .content {
  }
  .row-item .content .content-designed {
    text-align: center;
    font-size: 18px;
    font-weight: 500px;
  }

  .content p {
    display: none;
  }

  .content .content-item {
    display: none;
    font-size: 12px;
    font-weight: 400px;
    text-align: center;
  }

  .footer-main {
    flex-direction: column;
    align-items: center;
  }

  .list {
    width: 100%;
    max-width: 400px;
  }

  .footer-end-elem .end-bottom a {
    display: none;
  }

  .navigation .navigation-top-shear {
    margin-left: 10px;
  }

  .footer-end .footer-end-elem .end-h1 {
    margin-left: 25px;
    text-align: center;
  }
  /*protfolio*/

  .cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow-x: auto;
    margin-top: 10px;
  }
  .cards ::-webkit-scrollbar {
    width: 0;
  }
  /* ==>  */

  .cards__Abouts {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow-x: auto;
  }
  .cards-about {
    align-items: center;
  }
  .cards__Abouts ::-webkit-scrollbar {
    width: 0;
  }
  /* .protfolio__mobile .cards {
   display: flex;
   flex-direction: row;
  } */
  /**/
  /* .cards__Abouts .card-about .about-user{
    width: 100%;
  } */
  .footer-main {
    padding: 20px;
  }
  .header-barsic {
    flex-direction: column;
  }
  .contact_elem-text3 .elem-text3-img {
    width: 100%;
  }
  .container-header {
  }
}
